# Ignore folders
__pycache__/
_temp
.old_files/
.vscode
.DS_Store
.trunk
frontend/node_modules
airflow/logs
airflow/data
airflow/dags/__pycache__

# Ignore files
.env
**.json
**.csv
*.csv
**/.DS_Store
.DS_Store