# pymongo>=3.6.0
pymongo
requests
bs4
langdetect
unicodedata2
pendulum
boto3
pyspark
delta

# airflow
apache-airflow-providers-mongo

# machine learning
joblib
pandas
numpy
scikit-learn

# joblib==1.3.2
# scikit-learn==1.3.1